header div {
  width: 100%;
  outline: solid grey;
  height: 75px;
  background-color: darkgray;
  display: block;
}

p {
  left: 5px;
  top: 5px;
  position: relative;
  padding-left: 5px;
}

#div-b {
  width: 100%;
  outline: solid grey;
  height: 150px;
  background-color: darkgray;
  display: block;
}

ul.cd-content {
  padding: 0;
}

.cd-content li {
  width: 100%;
  outline: solid grey;
  height: 125px;
  background-color: darkgray;
  display: block;
}

ul.efgh-content {
  padding: 0;
}

.efgh-content {
  display: inline-block;
}

.efgh-content li{
  width: 240px;
  outline: solid grey;
  height: 250px;
  background-color: darkgray;
  display: inline-block;
  list-style: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#bottom-bar {
  width: 100%;
  outline: solid grey;
  height: 80px;
  background-color: darkgray;
  display: block;
}
