header div {
  width: 100%;
  border: 1px solid grey;
  height: 75px;
  background-color: darkgray;
  display: block;
}

p {
  left: 5px;
  top: 5px;
  position: relative;
  padding-left: 5px;
}

#div-b {
  width: 100%;
  border: 1px solid grey;
  height: 150px;
  background-color: darkgray;
  display: block;
}

.cd-content div {
  width: 100%;
  border: 1px solid grey;
  height: 125px;
  background-color: darkgray;
  display: block;
}

.efgh-content {
  display: inline-block;
}

.efgh-content div {
  width: 240px;
  border: 0.5px solid grey;
  height: 250px;
  background-color: darkgray;
  display: inline;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

#bottom-bar div {
  width: 100%;
  border: 1px solid grey;
  height: 80px;
  background-color: darkgray;
  display: block;
}
